---
import "../style/global.scss";
import Layout from "@/layouts/Layout.astro";
import Header from "../components/header.jsx";
import Cover from "../components/cover.astro";
import Info from "../components/info.astro";
import Formule from "../components/formule.astro";
import Contact from "../components/contact.astro";
import Carousel from "@/components/carousel.astro";
import Conditions from "../components/conditions.astro";
import Footer from "../components/footer.astro";

// Get the content of the page in the index.md file
import { getEntry } from "astro:content";

// Get the homepage entry
const entry = await getEntry("homepage", "index");
const { cover, info, formule, contact, conditions } = entry.data;
---

<Layout>
  <main class="main">
    <Header client:load />
    <Cover content={cover} />
    <Info content={info} />
    <Formule content={formule} />
    <Contact content={contact} />
    <Carousel/>
    <Conditions content={conditions} />
    <Footer content={contact} onMainPage={true}/>
  </main>
</Layout>

<script src="../scripts/infoObserver.js"></script>
<script src="../scripts/formuleObserver.js"></script>
<script src="../scripts/scrollToTopOnReload.js"></script>
