---
import style from "../style/components/conditions.module.scss"
const { content } = Astro.props;
const lines = content.split("\n").filter(line => line.trim() !== "");
---

<section class={style.conditions} id="condition">
    <h2 class={style.conditions_title}>Règlement et conditions</h2>
    <p class={style.conditions_text}>{lines[0]}</p>
    <ul class={style.conditions_list}>
        {lines.filter((_, idx) => idx !== 0).map((line) => (
            <li>{line}</li>
        ))}
    </ul>
</section>