---
import style from "../style/components/contactForm.module.scss";
export const prerender = false;
import Image from "astro/components/Image.astro";
import circleArrow from "../../dist/assets/img/CircularArrow.png";
---

<div class={style.contactForm_wrapper}>
  <h2 class={style.contactForm_title}>Formulaire de Contact</h2>

  <form method="POST" class={style.contactForm}>

    <div
      class={style.contactForm_businessEmail}
      aria-hidden="true"
    >
      <label for="business_email"
        >Votre email professionnel (ne pas remplir)</label
      >
      <input
        type="email"
        name="business_email"
        id="business_email"
        tabindex="-1"
        autocomplete="new-password"
      />
    </div>

    <input type="hidden" name="timestamp" id="timestamp" value="" />

    <div class={style.contactForm_input_Container}>
      <label class={style.contactForm_label} for="name">Nom* :</label>
      <input
        class={style.contactForm_input}
        type="text"
        id="name"
        name="name"
        maxlength="100"
        pattern="[a-zA-ZÀ-ÿ\s\-']+"
        title="Seuls les lettres, espaces, traits d'union et apostrophes sont autorisés"
        required
      />
      <p class={style.contactForm_errorMessage} id="name_errorMessage"></p>
    </div>

    <div class={style.contactForm_input_Container}>
      <label class={style.contactForm_label} for="firstName">Prénom* :</label>
      <input
        class={style.contactForm_input}
        type="text"
        id="firstName"
        name="firstName"
        maxlength="100"
        pattern="[a-zA-ZÀ-ÿ\s\-']+"
        title="Seuls les lettres, espaces, traits d'union et apostrophes sont autorisés"
        required
      />
      <p class={style.contactForm_errorMessage} id="firstName_errorMessage">
        
      </p>
    </div>

    <div class={style.contactForm_input_Container}>
      <label class={style.contactForm_label} for="email">Email* :</label>
      <input
        class={style.contactForm_input}
        type="email"
        id="email"
        name="email"
        maxlength="254"
        required
      />
      <p class={style.contactForm_errorMessage} id="email_errorMessage"></p>
    </div>

    <div class={style.contactForm_input_Container}>
      <label class={style.contactForm_label} for="tel">Téléphone* :</label>
      <input
        class={style.contactForm_input}
        type="tel"
        id="tel"
        name="tel"
        maxlength="254"
        placeholder="+32 123 45 67 89"
        required
      />
      <p class={style.contactForm_errorMessage} id="tel_errorMessage"></p>
    </div>

    <div class={style.contactForm_input_Container}>
      <label class={style.contactForm_label} for="message">Message* :</label>
      <textarea
        class={style.contactForm_input_large}
        id="message"
        name="message"
        maxlength="2000"
        rows="6"
        placeholder="Bonjour, je souhaite louer votre bien pour la période du..."
        required></textarea>
      <p class={style.contactForm_errorMessage} id="message_errorMessage">
      </p>
    </div>

    <div class={style.contactForm_rgpd}>
      <input type="checkbox" id="consent" name="consent" required />

      <label for="consent">
        J’ai lu et j’accepte la <a
          href="/rgpd"
          target="_blank"
          rel="noopener noreferrer"
        >
          politique de confidentialité</a
        >. Les informations envoyées via ce formulaire seront utilisées
        uniquement pour répondre à ma demande et ne seront pas stockées dans une
        base de données.
      </label>
      <p class={style.contactForm_errorMessage} id="consent_errorMessage">
      </p>
    </div>

    <button class={style.contactForm_button}>ENVOYER</button>
  </form>

  <div class={style.contactForm_sendingScreen_container}>
    <div class={style.contactForm_sendingScreen_letter_container}>
      <p class={style.contactForm_sendingScreen_letter}>E</p>
      <p class={style.contactForm_sendingScreen_letter}>N</p>
      <p class={style.contactForm_sendingScreen_letter}>V</p>
      <p class={style.contactForm_sendingScreen_letter}>O</p>
      <p class={style.contactForm_sendingScreen_letter}>I</p>
      <p class={style.contactForm_sendingScreen_letter}>E</p>
      <span class={style.contactForm_sendingScreen_rotatingRectangle}></span>
      <span class={style.contactForm_sendingScreen_rotatingRectangle_2}></span>
    </div>
  </div>

  <div class={style.contactForm_resultScreen_container}>
    <p class={style.contactForm_resultScreen_text}>
      Votre message a été envoyé avec succés
    </p>
    <div class={style.contactForm_resultScreen_containerReload}>
      <p class={style.contactForm_resultScreen_textReload}>
        Envoyer un nouveau message
      </p>
      <Image
        class={style.contactForm_resultScreen_circleArrow}
        src={circleArrow}
        alt="Envoyer un nouveau message"
      />
    </div>
  </div>
</div>

<script src="../scripts/handleForm.js"></script>
