---
import style from "../style/components/contactForm.module.scss";
export const prerender = false;
import { actions } from "astro:actions";
---

<h2 class={style.contactForm_title}>Formulaire de Contact</h2>

<form method="POST" action={actions.sendContactEmail} class={style.contactForm}>
  <div class={style.honeypot} aria-hidden="true">
    <label for="website">Laissez ce champ vide&nbsp;:</label>
    <input
      type="text"
      id="website"
      name="website"
      tabindex="-1"
      autocomplete="off"
    />
  </div>

  <input type="hidden" name="timestamp" id="timestamp" />

  <div class={style.contactForm_input_Container}>
    <label class={style.contactForm_label} for="name">Nom* :</label>
    <input
      class={style.contactForm_input}
      type="text"
      id="name"
      name="name"
      required
      maxlength="100"
      pattern="[a-zA-ZÀ-ÿ\s\-']+"
      title="Seuls les lettres, espaces, traits d'union et apostrophes sont autorisés"
    />
  </div>

  <div class={style.contactForm_input_Container}>
    <label class={style.contactForm_label} for="firstName">Prénom* :</label>
    <input class={style.contactForm_input}
      type="text"
      id="firstName"
      name="firstName"
      required
      maxlength="100"
      pattern="[a-zA-ZÀ-ÿ\s\-']+"
      title="Seuls les lettres, espaces, traits d'union et apostrophes sont autorisés"
    />
  </div>

  <div class={style.contactForm_input_Container}>
    <label class={style.contactForm_label} for="email">Email* :</label>
    <input class={style.contactForm_input} type="email" id="email" name="email" required maxlength="254" />
  </div>

  <div class={style.contactForm_input_Container}>
    <label class={style.contactForm_label} for="tel">Téléphone* :</label>
    <input class={style.contactForm_input} type="tel" id="tel" name="tel" required maxlength="254" />
  </div>

  <div class={style.contactForm_input_Container}>
    <label class={style.contactForm_label} for="message">Message* :</label>
    <textarea class={style.contactForm_input_large} id="message" name="message" required maxlength="2000" rows="6"
    ></textarea>
  </div>

  <button class={style.contactForm_button} type="submit">ENVOYER</button>
</form>

<!-- Sécurity script -->
<script>
  document.getElementById("timestamp").value = Date.now().toString();

  const form = document.querySelector("form");
  const startTime = Date.now();

  form.addEventListener("submit", function (e) {
    const timeSpent = Date.now() - startTime;
    if (timeSpent < 3000) {
      e.preventDefault();
      alert("Veuillez prendre le temps de remplir le formulaire correctement.");
      return false;
    }
  });
</script>
