---
import { Image } from "astro:assets";
import coverImage from "../assets/img/cover.jpeg";
import style from "../style/components/cover.module.scss";
---

<section class={style.cover_section}>
  <Image
    src={coverImage}
    alt="Sauna, image de couverture"
    class={style.cover_image}
  />
  <div class={style.cover_text_container}>
    <h1 class={style.cover_text_title}>Cosy Corner</h1>
    <h2 class={style.cover_text_subtitle}>Spa privatif</h2>
    <p class={style.cover_text}>
      Lorem ipsum dolor sit amet consectetur. Vitae morbi sed dictum volutpat.
      Eget sagittis vitae aliquet mi. Mi porttitor amet pulvinar lorem est
      faucibus elementum interdum donec. Amet ut tincidunt odio est.
    </p>
  </div>
  <div class={style.arrow_container}>
    <div class={style.arrow}></div>
   </div>
</section>
