---
import { Image } from "astro:assets";
import coverImage from "../../public/assets/img/cover.jpeg";
import style from "../style/components/cover.module.scss";

const {content} = Astro.props;
---

<section class={style.cover_section}>
  <Image
    src={coverImage}
    alt="Sauna, image de couverture"
    class={style.cover_image}
  />
  <div class={style.cover_text_container}>
    <h1 class={style.cover_text_title}>{content.title}</h1>
    <h2 class={style.cover_text_subtitle}>{content.subtitle}</h2>
    <p class={style.cover_text}>
      {content.text}
    </p>
  </div>
  <div class={style.arrow_container}>
    <div class={style.arrow}></div>
   </div>
</section>
