---
import style from "../style/components/footer.module.scss";
import { headerProps } from "../props/headerProps";
import FbLogo from "../../public/assets/svg/facebook-svgrepo-com.svg";
import InstaLogo from "../../public/assets/svg/instagram-svgrepo-com.svg";
const { content, onMainPage } = Astro.props;
---

{(onMainPage === false) && 
<footer class={style.footer}>
  <div class={style.footer_contact_container}>
    <h3 class={style.footer_contact_title}>Contact</h3>
    <a href=`tel:${content.tel}` class={style.footer_contact_tel}
        ><p>{content.tel}</p></a>
    <a
      class={style.footer_contact_mail}
      href=`mailto:${content.mail}`
      ><p>{content.mail}</p></a
    >
    <a href="https://www.google.com/maps/place/Chau.+de+Bruxelles+446,+1410+Waterloo,+Belgique/@50.7052916,4.4015802,17z" target="_blank" class={style.footer_contact_adress}><p>{content.adress}</p></a>
  </div>

  <div class={style.footer_social_container}>
    <h3 class={style.footer_social_title}>Réseaux sociaux</h3>
    <div class={style.footer_social_logo_container}>
      <a
        class={style.footer_social_link}
        href="https://www.facebook.com/profile.php?id=61557682445457" 
        target="_blank"
      >
        <FbLogo fill="currentColor" class={style.footer_social_logo} />
      </a>
      <a
        class={style.footer_social_link}
        href="https://www.instagram.com/cosy_corner_waterloo?igsh=ZjhoZGpkMXR6a20w&utm_source=qr"
        target="_blank"
      >
        <InstaLogo fill="currentColor" class={style.footer_social_logo} />
      </a>
    </div>
  </div>
</footer>
}

{(onMainPage === true) && 
<footer class={style.footer}>
  <div class={style.footer_contact_container}>
    <h3 class={style.footer_contact_title}>Contact</h3>
    <a href=`tel:${content.tel}` class={style.footer_contact_tel}
        ><p>{content.tel}</p></a>
    <a
      class={style.footer_contact_mail}
      href=`mailto:${content.mail}`
      ><p>{content.mail}</p></a
    >
    <a href="https://www.google.com/maps/place/Chau.+de+Bruxelles+446,+1410+Waterloo,+Belgique/@50.7052916,4.4015802,17z" target="_blank" class={style.footer_contact_adress}><p>{content.adress}</p></a>
  </div>

  <div class={style.footer_menu_container}>
    <h3 class={style.footer_menu_title}>Menu</h3>
    {
      headerProps.links.map((link) => (
        <a className={style.footer_menu_link} href={link.href} key={link.href}>
          {link.name}
        </a>
      ))
    }
  </div>

  <div class={style.footer_social_container}>
    <h3 class={style.footer_social_title}>Réseaux sociaux</h3>
    <div class={style.footer_social_logo_container}>
      <a
        class={style.footer_social_link}
        href="https://www.facebook.com/profile.php?id=61557682445457" 
        target="_blank"
      >
        <FbLogo fill="currentColor" class={style.footer_social_logo} />
      </a>
      <a
        class={style.footer_social_link}
        href="https://www.instagram.com/cosy_corner_waterloo?igsh=ZjhoZGpkMXR6a20w&utm_source=qr"
        target="_blank"
      >
        <InstaLogo fill="currentColor" class={style.footer_social_logo} />
      </a>
    </div>
  </div>

  <div class={style.footer_mention_container}>
    <p class={style.footer_mention}>Copyright © 2025 - Cosy Corner. Tous droits réservés.</p>
    <p class={style.footer_mention}>Réalisé par <a href="https://owlhand.com" target="_blank">Owlhand</a></p>
  </div>
</footer>
}


