---
import {formuleProps} from "../props/formuleProps";
import style from "../style/components/formule.module.scss";
import { Image } from "astro:assets";
import formuleImage from "../assets/img/tableau.jpeg";
---

<section class={style.formule_section}>
    <Image src={formuleImage} alt="Tableau" class={style.formule_image} />
    <h2 class={style.formule_title}>Formule tarifaire</h2>
    {formuleProps.map((formule) => (
<p>{formule.text}</p>))}
</section>