---
import style from "../style/components/info.module.scss";
import InfoCards from "./infoCards.astro";
const { content } = Astro.props;
---

<script src="../scripts/infoObserver.js"></script>
<section class={style.info_container} id="acceuil">
  <div class={style.info_text_container}>
    <h2 class={style.info_text_title}>
      {content.title}
    </h2>
    <p class={style.info_text_text}>
      {content.text}
    </p>
  </div>
  <InfoCards />
</section>
